@use './nav' as colors;

.container_card{
    margin-top: .75em;
    display: grid;
    grid-template-columns: repeat(3,21.875em);
    gap: 1.25em;
    align-self: center;
    justify-content: center;
   
    @media (max-width:1235px) {
        grid-template-columns: repeat(3,18.75em);
    }
    @media (max-width:1066px) {
        grid-template-columns: repeat(2,18.75em);
    }
    @media (max-width:728px) {
        grid-template-columns: repeat(1,18.75em);
    }
    @media (max-width:348px) {
        grid-template-columns: repeat(1,15.625em);
    }
    .card{
        border-radius: .625em;
        background-color:colors.$code;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        transition: .6s ease all;
        -webkit-box-shadow: 8px 8px 2px 1px rgba(0,0,0,0.17); 
        box-shadow: 8px 8px 2px 1px rgba(0,0,0,0.17);
        .content{
            padding: .75em;
            display: flex;
            flex-direction: column;
            gap: .625em;
            body.dark-active &{
            color: colors.$title;
            }
            img{
                width: 80%;
            }
            a{
                background-color: colors.$blue-dark;
                color: colors.$main;
                padding: .625em;
                border-radius: .3125em;
                text-decoration: none;
                width: 6em;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .6s ease;
                text-transform: uppercase;
                &:active{
                    transform: scale(1.1);
                }
                &:hover{
                    background-color: colors.$angular;
                }
            }
        }
    }
}